<div class="comment">
<p>
  <strong><%= comment.commenter %></strong>
</p>
 
<p>
  <%= comment.body %>
</p>
</div>

<p>
	
  <% if admin_signed_in? %>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% else %>
  <% end %>
</p>