<head>
</head>
<body>
<p>New comment on picture <span id="title"><%= @post.title  %></p></span>

<div id="commenter">
	<%= @comment.commenter %>
</div>
<div id="body">
<%= @comment.body %>
</div>
</body>
