 <div id="content">
  <% @posts.each do |post| %>
    <table class="post">
      <tr><td><h1><%= post.title %></h1></td></tr>
      <tr><td><%= image_tag post.photo.url(:small) %></td></tr>
      <tr><td class="text"><%= post.text %></td></tr>
      <tr><td><%= link_to 'View Post', welcome_path(post.id), :class => "button" %></td></tr>
    </table>
  <% end %>
 </div>
